// screen sizes
$screen-phone: 320px;
$screen-extra-small: 480px;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// colors
$blue: rgba(0, 136, 255, 1);
$black: rgba(27, 28, 33, .9);
$white_grey: rgba(255,255,255,.4);

$shazam-background: #dfdfdf;

$link: #106ccb;
$grey: #ccc;
$white: #fff;
$success: #4cae4c;
$primary: #337ab7;
$danger: #d9534f;

$default-border-color: #CCC;
$success-border-color: #4CAE4C;
$primary-border-color: #2E6DA4;
$danger-border-color: #D43F3A;

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  //font-family: Lato, sans-serif;

  display: flex;
  flex-direction: column;
  height: 100vh;

  overflow-y: auto;
}

@media (max-width: $screen-small - 1px) {
  body {
    font-size: 1.2rem;
  }
}

@media (min-width: $screen-small) {
  body {
    font-size: 1.3rem;
  }
}

@media (min-width: $screen-medium) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: $screen-large) {
  body {
    font-size: 1.6rem;
  }
}
