@import "globals";
@import "form";
@import "buttons";
@import "grid";

.userList {
  background-color: #DCDCDC;
  padding: 1rem;

  &-top {
    margin-bottom: 2rem;
  }
}

.user {
  background-color: #FBFBFB;
  padding: 1rem;
  margin-top: 0.5rem;

  .title {
    font-size: 1.8rem;
    &-message {

    }
  }

  .body {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;

    &-message {
      font-size: 2rem;
      font-weight: 500;
    }
  }
}

#newUserForm {
  div {
    margin-top: 0.5rem;
  }

  button {
    margin-top: 1rem;
  }
}

.dropdown-content {
  border: solid 1px $primary;
}

.dropdown-details {
  padding: 0.5rem;

  label {
    font-weight: bold;
    text-transform: uppercase;
  }
}
